:root {
    --main-bg-color: rgb(0,113,165);
    --main-bg-color-transp: rgba(0,113,165,.7);
    --darker-blue: rgb(0,52,102);
    --grey-bg: #F5F5F5;
}

.container {
    width: 80% !important;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    overflow-x: hidden;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

h1 {
    font-size: 3.0rem;
    /*font-weight: bold;*/
}
button.navbar-toggler{
    color:white
    
}
nav.scrolled button.navbar-toggler{
    color: var(--darker-blue)
}
@media (max-width: 1000px) {
    nav.bg-light.scrolled:has(.navbar-collapse.show)
      {
          background:#FFF !important;
      }
      nav.bg-light:has(.navbar-collapse.show)
      {
          background: var(--main-bg-color) !important;
      }
  }
a.nav-link {
    font-size: 15px;
    font-weight: 400;
    margin-right: 1vw;
    color: #fff;
}

a.navbar-brand {
    margin-right: 5vw;
}

#carouselExampleControls {
    /* min-height: 100vh !important; */
    min-height: 600px;
}

.carousel-item > img {
    min-height: 100vh !important;
    max-height: 100vh !important;
}

.overlay-txt {
    position: absolute;
    bottom: 37%;
    left: 12%;
    color: #fff;
    z-index: 1;
    width: 80%;
}

.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-bg-color-transp);
}

.bg-light {
    background: transparent !important;
    margin-bottom: -140px;
    z-index: 2;
    /* padding-top: 2.5rem; */
    padding-bottom: 0rem;
}

nav > #navbarNav > div >ul > li > a,body > nav a {
    color: #fff;
}

.bg-light.scrolled {
    background: #fff !important;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 2px 7px rgb(92 92 92 / 25%);
}

nav.scrolled > #navbarNav a,body > nav.scrolled a {
    color: #013764;
}

#topBar {
    background-color: var(--darker-blue);
    color: #fff;
    position: relative;
    z-index: 1000 !important;
    width: 100%;
    height: 34px;
}

#topBar p {
    padding: 0px 0px;
    margin-bottom: 0;
    /* font-weight: 700; */
    font-size: 14px;
}

.mt-10 {
    margin-top: 5rem !important;
}

#msgContainer {
    background-color: #f3f3f3;
    color: #000;
    position: relative;
    font-size: 13px;
    top: 1px;
    height: 60px;
}

#msg p {
    /*border-left: #000 2px solid;*/
    padding-left: 10px;
}

.border-left-msg {
    border-left: 2px solid #000;
    position: absolute;
    top: 18%;
    height: 2rem;
}

/* SECCION 1 */
section.s1 {
    height: 120vh;
}

section.s1 > div.row > div > h2 {
    padding-top: 10vh;
    color: var(--darker-blue)
}

section.s1 > div.row > div > i {
    padding-top: 10vh;
    font-size: 5rem;
    color: var(--darker-blue)
}

div.container-grafica {
    border: solid 1px #000;
    margin: 2vw;
}

section.s1 > .btn {
    min-width: 25%;
    background-color: #fff;
    border: 1.5px solid var(--darker-blue);
    color: var(--darker-blue);
    font-weight: bold;
    border-radius: 0;
}

.btn-primary{
    border-radius: 0;
    padding-left: 8%;
    padding-right: 8%;
}


section.s2 {
    min-height: 80vh;
    background: url('images/poste.avif');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--main-bg-color-transp);
}

section.s2>div.text {
    padding-top: 25vh;
    margin-left: 15%;
    color: #fff;
}

section.s2>div.text > p {
    margin-top: 10vh;
    font-size: 1.25rem;
}

.title-subunw {
    color: #fff;
    border-bottom: solid 5px;
    width: 50px;
    margin-top: 2.3rem;
    margin-bottom: -0.5rem;
}


section.s3 > div.row >div > h2 {
    color: var(--darker-blue);
    padding-top: 8vh;
    padding-bottom: 5vh;
}

section.s3 p {
    color: gray;
    line-height: 2rem;
}

section.s3 h4 {
    font-weight: 1000;
}

section.s3 h4 i {
    color: var(--darker-blue);
    margin-right: 13px;
}

.title-subun {
    color: var(--darker-blue);
    border-bottom: solid 5px;
    width: 50px;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

section.s4 {
    min-height: 80vh;
    background: url('images/represa.webp');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--main-bg-color-transp);
}

body > section.s4.container-fluid > div > h2 {
    padding-top: 15vh;
    color: #fff;
    padding-bottom: 7.5vh;
}

#suscribeForm input, #suscribeBtn {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    width: 18vw;
    height: 3rem;
}

section.s4 .form-control::placeholder {
    color: #fff !important;
    opacity: 1;
}

section.s4 p {
    padding-top: 4rem;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    line-height: 2rem;
}


section.s5 {
    min-height: 100vh;
}

section.s5 h2 {
    color: var(--darker-blue);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.s5 a {
    background-color: #fff;
    border: 1.5px solid var(--darker-blue);
    color: var(--darker-blue);
}

section.s5 h5.card-title {
    color: var(--darker-blue)
}

.card { border: none;}

/* FOOTER */
footer {
    background: var(--main-bg-color);
    color: #fff;
}

#footer-links-container {
    min-height: 100%;
    background: url(images/central.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--main-bg-color-transp);
    padding-bottom: 3rem;
}

footer h6 {
    font-weight: bold;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer i {
    margin-right: 8px;
}

#footerBottom {
    background: var(--darker-blue);
    font-size: small;
    height: 3rem;
}

#footerBottom >div {
    padding-top: 1rem;
}

@media(min-width: 1200px) {
    .container {
        width: 80% !important;
    }
}

@media(max-width: 1000px) {
    .mt-10 {
        margin-top: 9rem !important;
    }
}

@media(max-width: 700px) {
    .overlay-txt {
        top:30%;
        bottom: 5%;
    }

    body > section.s3.container-fluid > div.row.justify-content-center.mt-5 > div {
        text-align: center;
    }

    .form-inline {
        display: block;
    }

    #suscribeForm input, #suscribeBtn {
        width: 80vw !important;
        height: 3rem;
        margin: auto;
    }
    #suscribeForm{
        display: block !important;
        text-align: center;
    }

    #suscribeBtn {
        margin-left: 6.5vw;
    }

    body > section.s4.container-fluid > div.text-center.container {
        width: 90% !important;
        padding-bottom: 40px;
    }

    .mt-10 {
        margin-top: 14rem !important;
    }
   
}

@media(max-width:1000px){
    #suscribeForm input, #suscribeBtn {
        width: 200px;
        margin:auto;
    }
}



/** {
    outline: 1px solid #f00 !important;
  }*/

/* SOBRE NOSOTROS */

section.s1_about{
    min-height: 80vh;
    background: url('images/poste.avif');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--main-bg-color-transp);
}

section.s1_about>div.text {
    padding-top: 35vh;
    margin-left: 15%;
    color: #fff;
    width: 35rem;
    margin-bottom: 2rem;
}

a.btn-white{
    background: transparent;
    color:#fff;
    padding: 10px 30px;
    text-emphasis: none;
    text-decoration: none;
    border: 1px #fff solid;
    margin-left: 15%;
}
section.s2_about a.btn{
    min-width: 25%;
    background-color: #fff;
    border: 1.5px solid var(--darker-blue);
    color: var(--darker-blue);
    border-radius: 0;
}

section.s2_about h2{
    padding-top: 10vh;
    color: var(--darker-blue)
}
div.title-subung{
    color: gray;
    border-bottom: solid 2px;
    width: 240px;
    margin-left:auto;
}
div.timeline-icon h5{
    height: 70px;
}
div.timeline-icon h5 span{
    color: #000
}
div.timeline-icon .badge{
    padding: 23px 12px;
    width: 60px;
    height: 60px;
    background-color: var(--darker-blue) !important;
    color: #fff;
}
div.timeline-event{
    border-left: 4px var(--darker-blue) solid;
    border-radius: 0;
}
div.timeline-event img{
    height: 140px;
    width: 100%;
}
.h-125{
    height: 125% !important;
}

section.s2_about a{
    margin-top: 2rem !important;
}

section.s3_about{
    min-height: 60vh;
    background: url('images/poste.avif');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--main-bg-color-transp);
}

section.s3_about div.text {
    padding-top: 15vh;
    margin-left: 15%;
    color: #fff;
    width: 45rem;
    margin-bottom: 2rem;
}
section.s3_about div.text p{
    margin-top: 3rem;
}
section.s4_about img.img-s4{
    width: 90%;
    height: 13rem;
}

section.s5_about{
    background-color:var(--grey-bg);
}

section.s5_about .card{
    background-color: transparent !important;
}
section.s5_about h5{
    color: #000 !important;
}
section.s5_about a{
    background-color: transparent !important;
}

section.s6_about h3{
    color:gray;
    margin-top: 5rem;
    text-align: center;
}

.form input, .form textarea, .form button{
    color: var(--darker-blue);
    border-radius: 2px;
    border-color: var(--darker-blue);
    margin: 1rem 0px;
} 
.form{
    width: 40rem;
    margin: auto;
}
.form button{
    width: 100%;
    margin-bottom: 50px;
}
.form i{
    color:var(--darker-blue)
}
@media(max-width:1000px){
    section.s3_about div.text{
        width: 80%;
    }
}
@media(max-width:800px){
    section.s1_about div.text{
        width: 80%;
    }
    .form{
        width: 100%;
    }
}


/* PÁGINA JUNTA */
section.s2_junta{
    padding: 25vh 0;
}
section.s2_junta h2{
    color: var(--darker-blue);
}
section.s3_junta{
    background-color:var(--grey-bg);
}

section.s3_junta .card{
    background-color: transparent !important;
}
section.s3_junta h5{
    color: #000 !important;
}
section.s3_junta a{
    background-color: transparent !important;
}
section.s4_junta{
    min-height: 60vh;
    background: url('images/poste.avif');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px var(--main-bg-color-transp);
}

section.s4_junta div.text {
    padding-top: 15vh;
    margin-left: 15%;
    color: #fff;
    width: 45rem;
    margin-bottom: 2rem;
}
section.s4_junta div.text p{
    margin-top: 3rem;
}
section.s4_junta h2{
    font-size: 2.5rem;
    font-weight: 600;
}
section.s4_junta a{
    background-color: transparent !important;
    border-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 3px;
}
section.s4_junta i{
    color: white;
    margin-top: 80%;
    font-size: 40px;
}
section.s5_junta div.col{
    padding: 15vh 3vh;
    width: 40%;
}
section.s5_junta i{
    font-size: 35px;
    margin-right: 1vh;
    color: var(--darker-blue);
}
section.s5_junta a{
    background-color: transparent !important;
    font-weight: 500;
    color: var(--darker-blue);
    font-size: 20px;
    border-radius: 3px;
    border-color: var(--darker-blue);
    border-width: 2px;
}
section.s5_junta a:hover{
    background-color: var(--darker-blue)!important;
    color: white;
    border-color: var(--darker-blue);
}
section.s5_junta div.par{
    background-color: var(--grey-bg);
}
/*PÁGINA GOBERNANZA*/
section.s2_gobernanza{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section.s2_gobernanza h3{
    color: var(--darker-blue);
    margin-bottom: 4vh;
}
section.s2_gobernanza h4{
    font-size: 30px;
}
section.s2_gobernanza.cards-wrapper{
    display: flex;
} 
/* PÁGINA JUNTA 2 */
section.s2_j2{
    background-color: #282828;
    color: #fff;
}

section.s2_j2 .row .col{
    padding: 3rem 1rem;
    text-align: center;
}

section.s2_j2 .row .active{
    color: var(--darker-blue);
    background-color: #fff;
}

section.s2_j2 i{
    font-size: 25px;
}
section.s3_j2 h2{
    margin-top: 20vh;
    color: var(--darker-blue);
    margin-bottom: 10vh;
}
.anios{
    color: gray;
    border-right: 2px solid;
}
.anios p{
    margin: 1.5rem 0;
    padding: 0.5rem;
}
.anios p.activo{
    background-color: #CCD7E0;
    border-left: 3px solid var(--darker-blue);
}
.video-item div.icon-video{
    background-color: #ccd7e0b9;
    padding: 10px;
    text-align: center;
    color: var(--main-bg-color)
}
.video-item{
    margin-bottom: 1rem;
}


/* PÁGINA DE MINNUTAs */
section.s2_minutas{
    background-color: var(--grey-bg);
}
section.s2_minutas h2{
    color: var(--darker-blue);
    padding: 15vh 0;
}
section.s3_minutas .icon-minuta{
    background-color: #ccd7e0b9;
    padding: 20px 10px;
    text-align: center;
    color: var(--darker-blue);
    font-size: 40px;
    margin: 0 15px;
    border-radius: 5px;
}
.minuta-item a{
    width: 80%;
    background-color: transparent !important;
    border: 1.5px solid var(--darker-blue);
    color: var(--darker-blue);
}
section.s3_minutas .minuta-item{
    padding: 2rem 1rem;;
    margin: 0;
}
section.s3_minutas .minuta-item.par{
    background-color: var(--grey-bg);
}
section.s4_minutas{
    background-color: var(--grey-bg);
}

